<ul class="tag-cloud">
	{{#foreach tags}}		
		<a href="{{url}}" class="tag-item badge" style="font-size: 14px">{{name}}&nbsp;&nbsp;共<span class="post-count ">{{post_count}}</span>篇</a>
	{{/foreach}}
</ul>